# Dependency directories
node_modules/
jspm_packages/

# Build directories
/build
/.svelte-kit
/package

# Environment variables
.env
.env.*
!.env.example

# IDE specific files
.vscode
.idea
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
/.pnp
.pnp.js
.npm
.eslintcache
.node_repl_history

# Output
.output
.vercel
.netlify
.wrangler
